{% extends 'base.html.twig' %}

{% block title %}Liste des évenements{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <form method="GET">
        <input type="text" name="search" placeholder="Recherche">
        <input type="submit" value="Recherche">
    </form>

    <h1>Liste des évenements</h1>

    <p>Il y a {{ counter }} évenements à venir</p>
    <a href="{{ path('login') }}">Login</a>
    <a href="{{ path('logout') }}">Logout</a>
    <a href="{{ path('subscribe') }}">Inscription</a>
    <a href="?sort=name">Par nom</a>
    <a href="?=date">Par date</a>
    {% if param is defined %}
        {{ dump(param) }}
    {% endif %}
    <ul>
    {% for event in events %}
        <li>
            <h4>Titre de l'évenements:</h4>
            <a href="{{ path('event', {'id': event.id}) }}">{{ event.name }}</a>   
            <p>Description de l'évenements {{ event.description }}</p>
            <p>{{ event.startAt|date('d/m/Y H:i') }}</p>
            <p>{{ event.shouldEndAt|date('d/m/Y H:i') }}</p>
            <p><strong>
            {% if event.shouldEndAt < date() %}
                To Late
            {% elseif event.startAt < date() and event.shouldEndAt >date() %}
                En cours ...
            {% else %}
                A venir
            {% endif %}
            </strong></p>
            <a href="{{ path('event_join', {'id': event.id}) }}">Ajouter un participant</a>
        </li>
    {% endfor %}
    </ul>
    <a href="{{ path('event_add') }}">add event</a>
</div>
{% endblock %}
