{% extends 'base.html.twig' %}

{% block title %}evenement {{ event.name }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Evenement : {{ event.name }}</h1>

    <p>{{ event.description }}</p>
    <p>L'évenement débutera {{ event.startAt|date('d/m/Y H:i') }} et se terminera {{ event.shouldEndAt|date('d/m/Y H:i') }}</p>
    <p>{{ event.place.name }}</p>
    <p>{{ event.place.address }}</p>
    
    <h3>Participants de l'évenement :</h3>
    <ul>
        {% for participant in event.participants %}
            <li>{{ participant.name }} </li>
        {% endfor %}
    </ul>
    <a href="{{ path('events') }}">Liste des evenements</a>
    <a href="{{ path('event_join', {'id': event.id}) }}">Liste des evenements</a>
</div>
{% endblock %}
