<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endfor %}
        {% block sidebar %}
        <ul>
            {% if app.user is not empty %}
            <li><a href="{{ path('logout') }}">Logout</a></li>
            <li><a href="{{ path('event_add') }}">add event</a></li>
            {% else %}
            <li><a href="{{ path('login') }}">Login</a></li>
            <li><a href="{{ path('subscribe') }}">Inscription</a></li>
            {% endif %}

        </ul>
    {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
